version: "3.8"
services:
  postgresDatabase:
    image: postgres:17
    pull_policy: always
    container_name: postgres_database
    ports:
      - "5431:5432"
    networks:
      bot-network:
        aliases:
          - postgres
    environment:
      POSTGRES_PASSWORD: PR9eZEXG2xERfpfq
      PGDATA: /var/lib/postgresql/bot-data/bot-pgdata
    volumes:
      - bot-pgdata:/var/lib/postgresql/bot-data

  max-frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
      pull: true
    environment:
      MAX_TOKEN: f9LHodD0cOLtht23FFkQYNOtLeuN6NYY2es6t_0XUJJJdJpWWW4RL5Ti8x7W4x11uN8ayold1yvFCE2zz7AM
      DB_USER: postgres
      DB_HOST: postgres
      DB_PASS: PR9eZEXG2xERfpfq
      DB_PORT: 5432
      SCHEDULE_API: http://schedule_backend:8010/api/
      UNIVERSITIES_API: http://university_backend:8001/
    ports: ["8002:8000"]
    networks:
      - bot-network

  max-schedule-backend:
    build:
      context: schedule_backend
      dockerfile: Dockerfile
      pull: true
    environment:
      CONFIG_PATH: /config/prod/prod.yaml
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: PR9eZEXG2xERfpfq
      DB_NAME: max_schedule
      DB_SSLMODE: disable
    ports:
      - "8010:8010"
    networks:
      bot-network:
        aliases:
            - schedule_backend

  max-schedule-image-generator:
    build:
      context: image_generation_backend
      dockerfile: Dockerfile
      pull: true
    environment:
      MAX_TOKEN: f9LHodD0cOLtht23FFkQYNOtLeuN6NYY2es6t_0XUJJJdJpWWW4RL5Ti8x7W4x11uN8ayold1yvFCE2zz7AM
    networks:
      bot-network:
        aliases:
          - image-generator

  max-universities-backend:
    build:
      context: universities_backend
      dockerfile: Dockerfile
      pull: true
    environment:
      DB_USER: postgres
      DB_HOST: postgres
      DB_PASS: PR9eZEXG2xERfpfq
      DB_PORT: 5432
    networks:
      bot-network:
        aliases:
          - university_backend

networks:
  bot-network:
    driver: bridge
volumes:
  bot-pgdata: { }